# Downloader backups and zip releases
olspanel_v*/
olspanel_backup_v*/
# *.zip
*.tmp

# IDE / System files
.DS_Store
.vscode/
.idea/
__pycache__/

# Plugin sub-repositories
plugins/olspanel-plugin-git-deploy/
plugins/olspanel-plugin-terminal/